*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hanuman', serif;
}

.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-top{
    width: 100%;
    height: 50px;
    background-color: #000000;
}

.navbar-bottom{
    width: 100%;
    height: 40px;
    background-color: #d7dbdd;
}

.navbar-top-category{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar-top-category .left{
    height: 100%;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar-top-category .center{
    height: 100%;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-top-category .right{
    height: 100%;
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar-top-category i{
    font-size: 18px;
    color: white;
}

.navbar-top-category .left i{
    margin-right: 40px;
}

.navbar-top-category .center i{
    margin: 0 20px;
}

.navbar-top-category .right i{
    height: 100%;
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 40px;
}

.navbar-top-category .center a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Hanuman', serif;
    font-size: 24px;
    font-weight: bold;
}

.navbar-top-category .center img{
    width: 40px;
}

.navbar-category{
    list-style: none;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    overflow: hidden;
}

.navbar-category li{
    height: 100%;
    border-right: 2px solid #d35400;
}

.navbar-category li:last-of-type{
    border-right: none;
}

.navbar-category li a{
    text-decoration: none;
    padding: 0 16px;
    height: 100%;
    font-family: 'Hanuman';
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all 0.3s ease-out;
}

.navbar-category li a:hover{
    color: #d35400;
}

main{
    width: 100%;
}

.article-top{
    width: 80%;
    height: 852px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    overflow: hidden;
}

.article-top>*{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #d7dbdd;
}

.article-top-first{
    grid-row: 1/2;
    grid-column: 1/3;

}

.article-top-second{
    grid-row: 1/2;
    grid-column: 3/4;
}

.article-top-third{
    grid-row: 2/3;
    grid-column: 1/2;
}

.article-top-fourth{
    grid-row: 2/3;
    grid-column: 2/3;
}

.article-top-fifth{
    grid-row: 2/3;
    grid-column: 3/4;
}

.each-article a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.each-article a img{
    width: 100%;
}

.each-article .description{
    width: 95%;
    position: absolute;
    bottom: 15px;
}

.title{
    color: black;
    font-family: 'Hanuman';
    font-size: 1.3rem;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.subtitle{
    font-family: 'Hanuman';
    font-size: 1rem;
    font-style: italic;
    color: #5a5a5a;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 10px;
}

.article-top-first .title{
    color: white;
    font-size: 1.6rem;
    text-shadow: 2px 2px 1px black;
}

.title:hover{
    color: #d35400;
}

.detail{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    font-family: 'Hanuman';
    font-size: 0.75rem;
    color: black;
}

.article-top-first .detail{
    color: white;
    text-shadow: 2px 2px 1px black;
}

.detail>*{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.detail-category{
    padding: 0 10px;
    color: white;
    background-color: #d35400;
}

.datetime>i{
    margin-right: 10px;
}

.writer-profile{
    width: 30px;
    height: 30px;
    background-color: #236238;
    border-radius: 50%;
}

.writer-profile i{
    color: white;
}

.article-bottom{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    overflow: hidden;
}

.article-latest{
    grid-column: 1/3;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.article-week{
    grid-column: 3/4;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.article-latest-item{
    height: 180px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 20px 0;
    background-color: #f3f3f3;
}

.article-latest-item img{
    height: 100%;
}

.article-latest-item .description{
    margin-left: 10px;
    padding: 20px;
}

.article-week-item{
    height: 380px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 20px 0;
    background-color: #f3f3f3;
}

.article-week-item .description{
    margin-top: 10px;
    padding: 0 10px;
}